In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns= ["A", "B", "C"])

df.head()
df.head(1)
df.tail(1)
df.columns

In [ ]:
df.index
df.index.tolist()
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns= ["A", "B", "C"], index = ["x", "y", "z"])
df

In [ ]:
df.info()
df.describe()
df.nunique() #num unique
df['A'].unique() #specific colomn
df.shape #shape of data frame in like (3,3)
df.size

In [ ]:
# Load sample Dataset using pandas

coffee = pd.read_csv('../resources/coffee.csv')
coffee

In [ ]:
results = pd.read_parquet("../resources/results.parquet")
results.head()

In [2]:
olympics_data = pd.read_excel("../resources/olympics-data.xlsx", sheet_name = "results")
olympics_data.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN